{% extends_admingenerated "InvisionInventarioBundle:ColorList:row.html.twig" %}
 {% block object_action_delete %}
    {% spaceless %}
<a  class="btn btn-default btn-xs " href="javascript:;" onClick="vel_admin.eliminar('el color ', '{{Color.nombre}}', '{{path('eliminar_color')}}', '?pk={{Color.id}}')"><i class="fa fa-times"></i></a>
    {% endspaceless %}
{% endblock object_action_delete %}