{% extends_admingenerated "InvisionSoporteBundle:UsuarioList:index.html.twig" %}
{#{% block body %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs pull-right">
        <li class="active" ><a href="#tab_1-1" data-toggle="tab">Listado</a></li>
        <li><a href="#tab_2-2" data-toggle="tab">Filtrar</a></li>
        <li class="pull-left header"><i class="fa fa-group"></i> Usuarios</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1-1">
            {% include "InvisionSoporteBundle:UsuarioList:results.html.twig" %}
        </div><!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2-2">
            {% include "InvisionSoporteBundle:UsuarioList:filters.html.twig" %}
        </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
</div>
{% endblock %}#}